body {
    background-color: gray;
    text-align: center;
    font-family: 'VT323', monospace;
}
#play {
    text-align: center;
    height: 50px;
    border-width: 5px;
    border-radius: 15px;
    border: solid 2px black;
    font-size: 15px;
}

button {
    width: 650px;
    height: 180px;
    margin: 25px;
    border: solid 4px black;
    border-width: 5px;
    border-radius: 25px;
    cursor: pointer;
}

button:active {
    box-shadow: 1px 1px 55px rgb(255, 255, 255);
    border: solid 5px white;
}

h1 {
    color: gray;
    background-color: greenyellow;
}

h2 {
    font-size: 40px;
    color: white;
}

#simon {
    font-size: 50px;
    color: white;
    margin: 0px;
}
#rojo {
    background-color: rgb(255, 0, 0);
}

#verde {
    background-color: rgb(0, 255, 0);
}

#amarillo {
    background-color: yellow;
}

#azul {
    background-color: rgb(0, 0, 255);
}
